.pic_back{
    width: 100%;
    height: 200px;
    background-image: url('images/pic_cut.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid rgba(195, 220, 231, 0.55);
}
.pic_back span{
    font-size: 5em;
    font-weight: bold;
    color: #ffffff;
    opacity: 0.9;
}

/* Main */
main{
    text-align: center;
}
.catalog_container{
    width: 100%;
    margin-top: 1.5em;
    padding: 0 1em;
    /*margin-right: 1%;
    margin-left: 1%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filters{
    position: sticky;
    float: left;
    min-width: 16em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}
.filter{
    margin-bottom: 2em;
}
.filters {
    height: min-content;
    position: sticky;
    float: left;
    top: 80px;
}

.form_radio_group {
    display: flex;
    flex-direction: column;
}
.form_radio_group-item {
    overflow: hidden;
    display: flex;

}
.form_radio_group input[type=radio] {
    display: none;
}
.form_radio_group label {
    width: 100%;
    min-width: 12em;
    height: 100%;
    cursor: pointer;
    padding: 0.3em;
    user-select: none;
    border-radius: 5px;
    border: 1px solid rgb(250, 172, 198);

    margin: 3px 0;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
    background: #fccdd5;

    color: rgb(255, 76, 135);
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff8fd;

    border: 2px solid rgb(255, 76, 135);
}

/* Hover */
.form_radio_group label:hover {
    color: #ff5d91;
    font-weight: bold;
    border-color: rgb(255, 76, 135);
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {

    opacity: 80%;
    color: rgba(126, 124, 124, 0.85);
    background: rgba(215, 206, 209, 0.48);
    font-weight: normal;
    border-color: #b9b0b2;
}


.price_range{
    display: inline-block;
}
.price_range label{
    margin: 2px;
}
.price_range input{
    /*width: 100%;*/
    width: 4em;
    max-width: 7em;
    font-size: 1.3em;
    border-radius: 5px;
}
fieldset{
    border-radius: 5px;
    border-color: rgb(250, 172, 198);
}


.products_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products_container h1{
    width: 100%;
    background:#fccdd5;

    color: rgb(255, 255, 255);
    font-weight:bold;
    text-shadow:2px 1px 0px rgb(255,76,135);

    border:3px solid rgb(255,76,135);
    border-radius: 7px;
}
/*GRID PRODUCTS*/

.products {
    grid-area: products;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 0.7em;
}
.product_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #fce8f5;
    margin: 1%;
    justify-content: space-between;
}
.product_card > h3 {
    padding: 0 2%;
}
.img_container {
    max-width: 24em;
    width: 96%;
    padding: 1% 1%;
    margin: 2%;

    display: flex;
    border-radius: 2%;
    background-color: #fce8f5;
    align-items: center;
    justify-content: center;
}
.img_container > img {
    width: 100%;
    border-radius: 8px;
}


.card_description {
    width: 100%;
    font-size: 15px;
}
.card_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.cost_label {
    width: 100%;
    margin: 2px;
    font-weight: bold;
}

.card_buttons input{
    margin-left: 0.5em;
    width: 3em;
    height: 3em;
}
.card_buttons input:hover{
    scale: 1.2;
}
.cost_label {
    font-size: 38px;
    font-weight: bold;
}
@media (max-width: 1855px) {
    .container {
        margin: 0 3%;
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1460px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 787px) {
    .products {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 670px) {
    .products_container {
        padding-top: 1em;
    }
    .products {
        grid-template-columns: 1fr;
    }
    .container {
        flex-direction: column;
    }
}
@media (max-width: 620px) {
    .catalog_container{
        flex-direction: column;
    }
    .filters {
        position: relative;
        top: 0;
    }
    .price_range > input {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .price_range > input {
        width: 6em;
    }
    .pic_back span {
        font-size: 56px;
    }
}
@media (max-width: 385px) {
    .price_range > input {
        width: 4em;
    }
}
