.pic_back{
    width: 100%;
    height: 200px;
    background-image: url('images/pic_7.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid rgba(133, 4, 51, 0.55);
}
.pic_back span{
    font-size: 5em;
    font-weight: bold;
    color: #ffffff;
    opacity: 0.9;
}

.check-faq{
    display: none;
}

.open-faq{
    width: 30px;
    height: 30px;
    background-image: url(images/down.png);
    background-repeat: no-repeat;


}
.close-faq{
    width: 30px;
    height: 30px;
    background-image: url(images/up_arr.png);
    background-repeat: no-repeat;
}

label .open-faq,label .close-faq{
    position: absolute;
    cursor: pointer;
    right: 0;
    padding-left: 1em;
    padding-right: 10%;
    height: 45px;
    width: 45px;
    transition: all .5s ease;
}
label .close-faq{
    opacity: 0;
    visibility: hidden;
}
.answer{
    display: none;
}

.check-faq:checked ~ label .open-faq{
    opacity: 0;
    visibility: hidden;
}
.check-faq:checked ~ label .close-faq{
    opacity: 1;
    visibility: visible;
}
.check-faq:checked ~ .answer{
    display: block;
}
.question-items{
    margin: 1em 1%;
    display: flex;
    flex-direction: column;
}
.item{
    max-height: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f3e4ed;

    margin-bottom: 1%;

}
.question{
    padding:0 11%;
    font-size: 16px;
    color: #bd0366;
    font-weight: bold;
}
.answer{
    padding: 0 10%;
}
